.header_container {
    width: 100%;
    background: #191919;
    height: 100px;
    overflow: hidden;
    margin: 0 0 27px 0;
}

.Margin {
    margin-left: 600px;
    font-size: xx-large;

    font-family: 'Times New Roman';
    color: white;
}

.ImageMargin {
    position: absolute;
    top: 12px;
    left: 5px;
    height: 113px;
    width: 249px;
    box-shadow: 10px 10px 5px #ad0e0e;
}

.LoginMargin {
    margin-top: 200px;
    margin-left: 500px;
}
.Text{
    color:#f70303;
}
.header_container {
    width: 100%;
    background: #ff0000;
    height: 124px;
    margin-left: 10px;
    overflow: hidden;
    margin: 0 0 27px 0;
    box-shadow: 10px 10px 5px #ad0e0e;
}
.button {
   border-top: 1px solid #ffffff;
   background: #f70000;
   background: -webkit-gradient(linear, left top, left bottom, from(#f70303), to(#f70000));
   background: -webkit-linear-gradient(top, #f70303, #f70000);
   background: -moz-linear-gradient(top, #f70303, #f70000);
   background: -ms-linear-gradient(top, #f70303, #f70000);
   background: -o-linear-gradient(top, #f70303, #f70000);
   padding: 4px 8px;
   -webkit-border-radius: 40px;
   -moz-border-radius: 40px;
   border-radius: 40px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #f7f7f7;
   font-size: 16px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #ffffff;
   background: #ffffff;
   color: #fc0000;
   }
.button:active {
   border-top-color: #ffffff;
   background: #ffffff;
   }
.textbox {
    height: 25px;
    width: 275px;
    border: solid 1px #E5E5E5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    background: #FFFFFF url('bg_form.png') left top repeat-x;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px;
}

.textbox:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 8px;
}  
.mGrid {   
    width: 100%;   
    background-color: #fff;   
    margin: 5px 0 10px 0;   
    border: solid 1px #525252;   
    border-collapse:collapse;   
}  
.mGrid td {   
    padding: 2px;   
    border: solid 1px #c1c1c1;   
    color: #717171;   
}  
.mGrid th {   
    padding: 4px 2px;   
    color: #fff;   
    background: #424242 url(grd_head.png) repeat-x top;   
    border-left: solid 1px #525252;   
    font-size: 0.9em;   
}  
.mGrid .alt { background: #fcfcfc url(grd_alt.png) repeat-x top; }  
.mGrid .pgr { background: #424242 url(grd_pgr.png) repeat-x top; }  
.mGrid .pgr table { margin: 5px 0; }  
.mGrid .pgr td {   
    border-width: 0;   
    padding: 0 6px;   
    border-left: solid 1px #666;   
    font-weight: bold;   
    color: #fff;   
    line-height: 12px;   
 }     
.mGrid .pgr a { color: #666; text-decoration: none; }  
.mGrid .pgr a:hover { color: #000; text-decoration: none; }  